extends layout
block content
    h1 Monitor

    button.fa.fa-plus(type="button" class="btn btn-primary")#toggleMonitor  Add Monitor
    #monitorForm
        form.form-horizontal(role='form', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
                label(class='col-sm-2 control-label', for='name') Monitor Name
                .col-sm-8
                    input.form-control(type='text', name='name', id='name')
            .form-group
                label(class='col-sm-2 control-label', for='email') Email
                .col-sm-8
                    input.form-control(type='text', name='email', id='email')
            .form-group
                label(class='col-sm-2 control-label', for='message') URL
                .col-sm-8
                    textarea.form-control(type='text', name='url', id='url')
            .form-group
                .col-sm-offset-2.col-sm-8
                    button.btn.btn-primary(type='submit')
                        i.fa.fa-mail-forward
                        | Create monitor

    each monitor in monitors
        .monitor.well.well-lg
            h3
                strong Monitor name:&nbsp;&nbsp;
                = monitor.name
                | &nbsp;&nbsp;
                a(href="#" data-id=monitor.id).delete
                    i.fa.fa-trash-o
            | Monitor status:&nbsp;
            if monitor.isActive

                a(href="#" data-id=monitor.id).toggleActive
                    | Active
            else
                a(href="#" data-id=monitor.id).toggleActive
                    | Disabled
            hr
            strong ID:&nbsp;&nbsp;
            = monitor.id
            br
            strong Email:&nbsp;&nbsp;
            = monitor.to
            br
            strong Url:&nbsp;&nbsp;
            = monitor.url
            br


